<!DOCTYPE html>
<html>
  <head>
    <title>Rise</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'application', defer: 'defer' %>
  </head>

  <body>
    <div id='react-app'></div>
    <%= yield %>
  </body>
</html>
